<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724401132437-cnmag9kg3qcos8dsda5rt43o87da65er.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724401132437-cnmag9kg3qcos8dsda5rt43o87da65er</string>
	<key>API_KEY</key>
	<string>AIzaSyBX6-SUDD0Ny_n4rQnVGZtLiCD2wMfSjaE</string>
	<key>GCM_SENDER_ID</key>
	<string>724401132437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RyanHamby.SmartCycleAppNew</string>
	<key>PROJECT_ID</key>
	<string>smartcycle2</string>
	<key>STORAGE_BUCKET</key>
	<string>smartcycle2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724401132437:ios:929d0738c7b0bdef9b9c9c</string>
	<key>DATABASE_URL</key>
	<string>https://smartcycle2.firebaseio.com</string>
</dict>
</plist>